<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouveau poste de police
</h1>

<%= render 'form', postepolice: @postepolice %>

<!--%= link_to 'Back', postepolices_path %-->
