<%= link_to 'Ajouter utilisateur', "/structures/#{params[:id]}/accounts/new", class: 'btn btn-sm btn-primary float-right' %>
<h2>Compte associés du partenaires <%= Structure.find(params[:id]).name %></h2>

<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <tbody><tr>
            <th>ID</th>
            <th>Email</th>
          </tr>
          <% @account.each do |accounts| %>
            <tr>
              <td><%= accounts.id %></td>
              <td><%= accounts.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>