<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouvelle structure partenaire</h1>

<%= render 'form', structure: @structure %>

<%= link_to 'Back', structures_path %>
