
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Editing Convocation
</h1>

<%= render 'form', convocation: @convocation %>

<%= link_to 'Show', @convocation %> |
<%= link_to 'Back', convocations_path %>
