<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouveau Centre partenaire
</h1>

<%= render 'form', centrepartenaire: @centrepartenaire %>

<!-- %= link_to 'Back', centrepartenaires_path %  -->
