<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1><%= @title %></h1>

    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15919.285042268246!2d9.706548!3d4.0568405499999995!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2scm!4v1525731933827" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

</main>