<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<h1>Editing Carrefour</h1>

<%= render 'form', carrefour: @carrefour %>

<%= link_to 'Show', @carrefour %> |
<%= link_to 'Back', carrefours_path %>
</main>