<h1 class="title is-3">Creer un nouveau type</h1>
<p>
    La creation d'un nouveau <strong>type</strong> permet d'assigner une action particulier à un service.
</p>
<hr>
<%= render 'form', type: @type %>

<%= link_to 'Back', types_path %>