<div class="card events-card">
    <header class="card-header">
    <p class="card-header-title">
        Liste d'alertes
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
    </a>
    </header>
    <div class="card-table">
    <div class="content">
        <table class="table is-fullwidth is-striped">
        <tbody>
            <% @alerte_tmp = Alerte.all.limit(10) %>
            <% if @alerte_tmp.nil? %>
            <tr>
                <td width="5%"><i class="fa fa-bell-o"></i></td>
                <td>Aucunes alertes publiées pour le moment.</td>
            </tr>
            <% else %>
            <% @alerte_tmp.each do |alerte| %>
                <tr>
                <td width="5%"><i class="fa fa-bell-o"></i></td>
                <td>
                    <%= alerte.created_at.strftime("%B %D, %Y %T") %>
                </td>
                <td>
                    <%= alerte.titre %>
                </td>
                <td>
                    <%= link_to  "Détail", alerte_path(alerte), class: "button is-small is-primary" %>
                </td>
                </tr>
            <% end %>
            <% end %>
        </tbody>
        </table>
    </div>
    </div>
    <footer class="card-footer">
    </footer>
</div>