<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Detail de l'exportation
</h1>

<div class="row m-b-40">
  <div class="col-md-12">
    <!-- DATA TABLE -->
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <select class="js-select2" name="property">
            <option selected="selected">All Properties</option>
            <option value="">Option 1</option>
            <option value="">Option 2</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--sm">
          <select class="js-select2" name="time">
            <option selected="selected">Today</option>
            <option value="">3 Days</option>
            <option value="">1 Week</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
          <i class="zmdi zmdi-filter-list"></i>filters</button>
      </div>
      <div class="table-data__tool-right">
        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
          <%= link_to 'Excel export', "parametre/access/exporter/export/detail/#{params[:table]}.xls", format: "xls", class: 'btn btn-primary' %>
          <div class="dropDownSelect2"></div>
        </div>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
        <tr>
          <th>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </th>
          <th>Nom</th>
          <th>Date creation</th>
          <th>description</th>
          <th>date creation</th>
          <th>status</th>
          <th>price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @table.each do |table| %>
          <tr class="tr-shadow">
            <td>
              <label class="au-checkbox">
                <input type="checkbox">
                <span class="au-checkmark"></span>
              </label>
            </td>
            <td><%= link_to table.titre, "/parametre/access/exporter/export/detail/#{table}" %></td>
            <td>
              <span class="block-email"><%= table.created_at %></span>
            </td>
            <td class="desc">Samsung S8 Black</td>
            <td>2018-09-27 02:12</td>
            <td>
              <span class="status--process">Processed</span>
            </td>
            <td>$679.00</td>
            <td>
              <div class="table-data-feature">
                <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                  <i class="zmdi zmdi-mail-send"></i>
                </button>
                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                  <i class="zmdi zmdi-edit"></i>
                </button>
                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                  <i class="zmdi zmdi-delete"></i>
                </button>
                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                  <i class="zmdi zmdi-more"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr class="spacer"></tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- END DATA TABLE -->
  </div>
</div>