<h1 class="m-b-40">
  <%= link_to access_systeme_path do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Parametre d'importation & d'exportation
</h1>
<h2 class="m-b-40">
  Formation d'exportation de données
</h2>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Configurer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Importer/exporter des parametres</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Configurer', parametre_access_setup_import_export_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Importation des données</h5>
        <h6 class="card-subtitle mb-2 text-muted">Importer/exporter des parametres</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Importer', parametre_access_importer_import_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Exportation des données</h5>
        <h6 class="card-subtitle mb-2 text-muted">Importer/exporter des parametres</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Exporter', parametre_access_exporter_export_path, class: 'card-link' %>
      </div>
    </div>
  </div>
</div>