<h1 class="m-b-40">
  <%= link_to access_systeme_path do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Parametre d'importation & d'exportation
</h1>
<h2 class="m-b-40">
  Formation d'exportation de données
</h2>