<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<h1>Bienvenue @user loged</h1>
<hr>

<div class="row">
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div> 
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div> 
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 200px;">
		  <div class="card-header">Alerte</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Gestion des alertes</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div> 
  <div class="col-sm">
  	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h5 class="card-title">Dark card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
  </div>
</div>
</main>
