<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<h1>Editing Affectation</h1>

<%= render 'form', affectation: @affectation %>

<%= link_to 'Show', @affectation %> |
<%= link_to 'Back', affectations_path %>
</main>