<p id="notice"><%= notice %></p>
<div class="title is-2"><i class="fa fa-list noir"></i> Gestion des services agents</div>
<div class="subtitle has-text-grey is-6">
  Le module d'allfectation permet de montrer le lieu d'affectation des agents pour une période donnée, ceci par rapport à un commissariat de rattachement
</div>
<hr class="has-background-grey">
<div class="columns is-desktop">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Agents
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
          <p class="title is-4">
            <i class="fa fa-users noir"></i> Ajout/modification des agents
          </p>
          <br>
          <%= link_to "Acceder", agents_path, class: 'button is-outlined is-link' %>
        </div>
      </div>
      <!--footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer-->
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Affectation
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <p class="title is-4">
            <i class="fa fa-trash-o noir"></i> Affectation des agents
          </p>
            Module permettant d'affecter un agent de la circulation à un commissariat ou zone de travail suivant le découpage effectué par le GRVPC.
          <br>
          <br>
          <%= link_to "Acceder", affectations_agent_home_path, class: 'button is-outlined is-link' %>
        </div>
      </div>
      <!--footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer-->
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Terminaux mobiles
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <p class="title is-4">
            <i class="fa fa-mobile-phone noir"></i> Gestion des terminaux mobiles
          </p>
          <br>
            Module permettant de valider ou non l'acces au terminaux mobiles des agents de la sureté national sur la plateforme (API) E-POLICE.
            Il est donc possible d'ajouter/revoquer un terminal mobile à un agent et autoriser ce terminal à acceder aux services de la plateforme.
          <br>
          <br>
          <%= link_to "Acceder", "#", class: 'button is-outlined is-link' %>
        </div>
      </div>
      <!--footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer-->
    </div>
  </div>
</div>