<footer class="main-footer">
  <strong>Copyright &copy; 2018 - <%= Date.today.strftime('%Y') %> <a href="https://www.epolice.cm">E-Police</a>.</strong>
  Tous droits reservés.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0
  </div>
</footer>