
<%= simple_form_for(@unite) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom du service</label>
          <%= f.input :name, label: false, placeholder: 'Nom du service' %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary btn-sm' %>
        <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
      </div>
    </div>
  </div>
<% end %>
