<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouveau centre recouvrement
</h1>

<%= render 'form', centrerecouvrement: @centrerecouvrement %>

<!--%= link_to 'Back', centrerecouvrements_path %-->
