
<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Libellé de la Région</label>
          <%= f.input :name, label: false , placeholder: 'Nom de la région a creer', class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">Nom de la region suivant le découpage administratif.</small>
        </div>
      </div>
      <div class="card-footer text-right">
        <%= f.button :submit, 'valider', class: 'btn btn-primary btn-sm' %>
        <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
      </div>
    </div>
  </div>
<% end %>
