
<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Région</label>
          <%= f.input :name, label: false , placeholder: 'Nom de la région a creer', class: 'form-control' %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
