<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouvelle Région
</h1>

<%= render 'form', region: @region %>

<!-- %= link_to 'Back', regions_path % -->
