<%= link_to 'Add release', new_release_path,  {:remote => true, data: {toggle: 'modal', target: '#exampleModalLong'}}  %>

<div id="exampleModalLong" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>