<h1>Nouvelle solution de paiement</h1>
<p class="m-b-40">
  Ajouter une nouvelle solution de paiement sur la plateforme
</p>

<%= render 'form', paiementsolution: @paiementsolution %>

<%= link_to 'Back', paiementsolutions_path %>
