<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>
  <%= stylesheet_link_tag 'bootstrap-4.1/bootstrap.min' %>
</head>
  <body>

  </body>
</html>